// Colors
$black: #161616;
$white: #ffffff;

// Functional colors
$func-yellow: #ffca3a;
$func-green: #8dc63f;
$func-blue: #1982c4;
$func-red: #ff595e;

// Greys
$grey-light-1: #ededed;
$grey-dark-1: #666666;
$grey-dark-2: #333333;

// Fonts
$font: Helvetica, Arial, sans-serif;
