// Colors
$black: #161616;
$white: #ffffff;

$grey-1: #cccccc;
$grey-2: #bbbbbb;

// PBZ
$pbz-orange: #f37021;
$pbz-yellow: #e8b909;
$pbz-green: #007638;
$pbz-blue: #0061af;
$pbz-red: #ed1c24;

// Functional colors
$func-yellow: #ffca3a;
$func-green: #8dc63f;
$func-blue: #1982c4;
$func-red: #ff595e;

// Fonts
$font: Helvetica, Arial, sans-serif;
